version: '3.8'

services:
  backend:
    build: ./backend
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./backend/data:/app/data
    environment:
      - NODE_ENV=production
      - PORT=3000

  admin:
    restart: always
    build: ./admin
    ports:
      - "91:80"
    depends_on:
      - backend

  web:
    restart: always
    build:
      context: ./web
      args:
        NEXT_PUBLIC_API_URL: http://backend:3000
    environment:
      - NODE_ENV=production
    ports:
      - "92:3000"
    depends_on:
      - backend

